@font-face {
  font-family: 'Studio-Feixen-Sans';
  src: url('/fonts/StudioFeixenSansRegular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Studio-Feixen-Sans';
  src: url('/fonts/StudioFeixenSansBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMonoNL';
  src: url('/fonts/JetBrainsMono.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
